body{
    background-color: rgb(230, 230, 230);
}
.card{
    border-radius: 0%;
    border: none;
    margin-bottom: 2rem;

}
.btn{
    border: 1px solid gray;
    background-color: white;
    color: gray;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(0rem - 0px);
    border-top-right-radius: calc(0rem - 0px);
}

.container{
    margin-top: 5rem;
}

img{
    width: 248px;
    height: 322px;
}
