*{
    box-sizing: border-box;
    margin: 0;
}
div{
    border-bottom: 1px solid black;
}
img{
    max-width: 200px;
}
section{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
}
header{
    padding: 10px;
    grid-column: 1 / span 2;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightblue;

}
.two{
    grid-row: 2 / span 2;
}
header div{
    border: none;
}